.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  padding: 8px 10px;
  margin: 10px;
  background-color: #ede7e7;
  color: black;
  /* width: 60px;
  height: 30px; */
  border-radius: 20px;
  border: 1px solid black;
}

.dataNode {
  display: flex;
  flex-wrap: wrap;
}

#dataList{
  background-color: rgba(27, 24, 24, 0.824);
  margin: 5px;
  border-radius: 10px;
  color: white;
  width: 20vh;
  >h3{
    font-weight: 500;
    font-size: 20px;
  }
  >button{
    padding:5px 20px;
    font-size: 20px;
  }
}

#notesList {
  display: flex;
  flex-wrap: wrap;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 500px;

  >input {
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
  }

  >textarea {
    font-size: 15px;
  }

  >#addNotesButton {
    width: 150px;
    padding: 8px 10px;
    font-weight: 700;
    font-size: 15px;
  }
}