* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: montserrat;
}

#page1 {
    height: 100%;
    width: 100%;
}

#nav {
    height: 70px;
    width: 100%;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    >#l1 {
        width: 180px;
        height: 70px;
        display: flex;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        >#circ {
            margin: 10px;
            width: 40px;
            height: 40px;
            border: 2px solid black;
            border-radius: 50%;
            text-align: center;
        }

        >h4 {
            font-size: 20px;
            font-weight: 800;
        }
    }

    >#l2 {
        font-size: 15px;
        font-weight: 600;

        >a {
            margin: 0px 15px;
            color: black;
            text-decoration: none;
        }
    }

    >#l3 {
        height: 60%;
        width: 200px;
        border-radius: 10px;
        border: 1px solid rgb(57, 53, 53);
        display: flex;
        justify-content: space-between;
        align-items: center;

        >input {
            padding: 0px 30px;
            width: 100px;
            border: none;
        }

        >i {
            margin-right: 10px;
        }
    }
}

#center {
    height: 91%;
    width: 100%;
    padding: 100px 100px;
    display: flex;

    >#left-center {
        width: 50%;
        height: 100%;

        >h3 {
            width: 55px;
            rotate: -10deg;
            color: royalblue;
            font-weight: 500;
        }

        >h1 {
            font-size: 60px;
            width: 450px;
            height: 250px;
        }

        >p {
            width: 400px;
            font-size: 15px;
        }

        >button {
            margin: 50px 20px;
            padding: 15px 22px;
            border-radius: 10px;
            font-size: 22px;
            border: none;
        }

        >#button1 {
            background-color: crimson;
        }

        >#bottom {
            margin-top: 20px;
            display: flex;

            >h3 {
                padding: 7px 0;
            }

            >i {
                font-size: 35px;
                margin: 0 30px;
                border-radius: 50%;
                padding: 7px;
                background-color: rgb(239, 237, 237);
                box-shadow: 0 0 5px 5px rgb(232, 231, 231);
            }
        }
    }
}

#right-center {
    width: 50%;
    height: 100%;
}

#top-right {
  display: flex;
  justify-content: right;
    width: 100%;
    font-weight: 600;
    word-wrap: break-word;
    word-spacing: 7px;
    font-size: 20px;
    right: 0;
    >p{
        width: 270px;
    }
}
#right-center-bottom {
    display: flex;
}
#hexagon {
    width: 500px;
    height: 500px;
    background-color: #FCDA69;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 96% 100%, 4% 100%, 0% 50%);
    background-image: url(https://static.vecteezy.com/system/resources/previews/009/383/461/original/man-face-clipart-design-illustration-free-png.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
#scroll {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: end;
    width: 200px;
    height: 400px; 
   >div{
    rotate: -90deg;
    width: 100px;
     margin-top: 50px;
   }
    >span{
        margin-bottom: 100px;
        rotate: 90deg;
        width: 100%;
        height: 0%;
        display: flex;
        align-items: flex-end;
        justify-content: right;
        >.l1 {
                border: 1px solid rgb(133, 131, 131);
                width: 30px;
                height: 0;
                margin-left: 20px;
                margin-bottom: 50px;
            }
        
            >.l2 {
                text-align: right;
                border: 1px solid rgb(134, 132, 132);
                width: 200px;
                height: 0;
                margin-bottom: 50px;
            }
    }
}

.page2 {
    width: 100%;
    height: 120%;
    background-color: #FCDA69;
    display: flex;
}

#left-page2 {
    width: 50%;
    height: 100%;

    >h3 {
        padding-top: 100px;
        padding-left: 70px;
        rotate: -12deg;
        width: 50px;
        color: royalblue;
        font-weight: 500;
        font-size: 20px;
    }

    >h1 {
        margin-left: 100px;
        font-size: 70px;
        width: 360px;
    }
}

#para {
    margin: 30px 100px;
    display: flex;

    >h1 {
        margin: 10px 0;
        margin-right: 15px;
        width: 30px;
        height: 0;
        border: 1px solid black;
    }
}

#p1 {
    width: 400px;
}

#line {
    border: 1px solid black;
    width: 50px;
}

#circle {
    margin: 180px;
}

#right-page2 {
    width: 50%;
    height: 100%;
    padding-top: 150px;
    /* background-color: red; */
}

#web {
    margin-left: 50px;
    padding-top: 20px;
    width: 67%;
    height: 250px;
    border-top: 3px solid black;
}

#w1 {
    display: flex;

    >h4 {
        margin-top: 13px;
        font-size: 20px;
    }

    >h1 {
        padding: 0;
        font-size: 50px;
        margin-left: 20px;
        font-weight: 600;
    }
}

#exp {
    width: 100%;
    height: 50px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    >i {
        font-size: 30px;
        padding: 7px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: royalblue;
    }
}

#mob {
    margin-top: 20px;
    margin-left: 50px;
    padding-top: 20px;
    width: 68%;
    height: 250px;
    border-top: 3px solid black;
}

#das {
    margin-top: 20px;
    margin-left: 50px;
    padding-top: 20px;
    width: 60%;
    height: 250px;
    border-top: 3px solid black;
}

#page3 {
    width: 100%;
    height: 120%;
    padding: 60px 100px 0 40px;
    display: flex;

    >h4 {
        width: 100px;
        height: 20px;
        rotate: -22deg;
        color: royalblue;
    }
}

#page3-left {
    width: 50%;
    height: 96%;
    margin: 30px 0px;

    >h1 {
        font-size: 65px;
        font-weight: 600;
        width: 50%;
    }
}

#skills_heading {
    width: 100%;
    margin-top: 40px;

    >h2 {
        font-size: 30px;
    }

    >div {
        margin-top: 20px;
        width: 250px;
        height: 120px;
        display: flex;
        flex-direction: column;
    }
}
#txt {
    display: flex;
    padding-top: 20px;

    >h6 {
        margin: 10px;
        border: 1px solid black;
        width: 25px;
        height: 0;
    }

    >p {
        width: 50%;
        font-size: 13px;
        word-spacing: 4px;
    }
}
.skills{
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
}
.skillsTop{
    height: 50%;
    width: 100%;
    display: flex;
}
.skillsBox{
    height: 180px;
    width: 180px;
    margin: auto;
    text-align: center;
    >div{
        margin:10px auto;
        height: 60%;
        width: 60%;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #fff;
        
    }
}
.skills1{
    >div{
        background-image: url(https://static-00.iconduck.com/assets.00/color-swatch-icon-256x256-x4t29p6k.png);
        background-size: 50%;
        background-color: black;
    }
    
}
.skills2{
    >div{
        background-image: url(https://static.thenounproject.com/png/668118-200.png);
        
    }

}
.skills3{
    >h3{
        text-align: left;
    }
    >div{
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKQFAnOGWSr-3jEr6KFSO2qjSPrlESG3I6jh73ZBWCcemMTqZY8l_WkWsC0uJZ8OdtyW0&usqp=CAU);
    }
}

.skillsBottom {
    height: 50%;
    width: 100%;
    display: flex;
}
.skillsB1{
    >div{
        background-image: url(https://cdn1.iconfinder.com/data/icons/growth-hacking-12/64/product-development-design-prototype-create-512.png);
        color: #fff;
        background-size: 79%;
    }
}
.skillsB2{
    >div{
        background-image: url(https://www.pngitem.com/pimgs/m/109-1094031_arrow-north-clip-art-4-direction-arrow-png.png);
    }
}
.skillsB3{
    >div{
        background-image: url(https://www.pngitem.com/pimgs/m/391-3918613_personal-service-platform-person-icon-circle-png-transparent.png);
    }
}
#page3-right{
    height: 100%;
    width: 50%;
    padding: 35px 0px 0 0;
    /* background-color: crimson; */
    >h1{
        font-size: 30px;
        font-weight: 630;
        margin-bottom: 50px;
    }
}
.experienceData{
    width: 90%;
    height: 100px;
    padding: 20px 0;
    border: none;
    border-top: 2px solid;
    display: flex ;
}
#expYear{
    width: 130px;
    height: 100%;
    >h5{
        font-weight: 600;
    }
}
#positionCompanyName{
    width: 100%;
    height: 100%;
    >h2{
        font-weight: 600;
        margin-bottom: 10px;
        font-size: 25px;
    }
    >h6{
        font-weight: 550;
    }
}
.userImage{
    height: 42%;
    width: 100%;
    display: flex;
    justify-content: right;
    >div{
        width: 50%;
        height: 100%;
        /* background-color: #fff; */
        background-image: url(https://www.careerguide.com/career/wp-content/uploads/2023/01/591-5911320_professional-man-in-suit-png-transparent-png-removebg-preview.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        >div{
            display: flex;
            align-items: center;
            justify-content: center;
            margin:px;
            color: #fff;
            background-color: black;
            height: 150px;
            width: 150px;
            border-radius:50%;
            >div{
                width: 90%;
                height: 90%;
                border: 1px solid #FCDA69;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
.ri-arrow-right-up-line{
    color: #FCDA69;
    font-size: 30px;
    font-weight: 500;
}
