*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
form{
    margin: 50px;
    font-size: 25px;
    >input{
        padding: 10px 15px;
    }
}
.gender-container{
    display: flex;
}

label{
    display: block;
}