*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Montserrat;
}
div{
    display: flex;
    justify-content: center;
    font-family: monteserrat;
    font-weight: 600;
    background-color: rgba(63, 56, 56, 0.505);
}
form{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid black;
    >button{
        padding: 10px 20px;
        background-color: blue;
        color: white;
    }
    >input{
        padding: 7px 20px;
        border-radius: 5px;
        display: block;
    }
    >#glabel{
        display: inline;
    }
}
label{
    display: block;
}