*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
html,body{
    width: 100%;
    height: 100%;
}
#page1{
    width: 100%;
}
#nav{
    padding:0 100px;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 50px;
    color: white;
    background-color: #212021;
    display: flex;
    align-items: center;
    justify-content: space-between;
    >#ill{
        >h2{
            text-transform: uppercase;
        }
    }
    >#icon{
        display: flex;
        gap: 30px;
    }
}
#center{
    padding-top: 50px;
    width: 100%;
    height: 100vh;   
    background:url(https://image.architonic.com/img_pro2-1/130/8129/coral-reef-floor-light-product-photo-1-b.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 70% 100%;
}
#overlay{
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: linear-gradient(to right, #232324,#232324,#232324,#232324,#232324,#232324,#232324,#232324,#232324,#2a2a2c,transparent,transparent,transparent, transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent);
    >h5{
        text-align: center;
        >i{
            font-size: 20px;
        }
    }
}
#center-left{
    padding:50px 0 0 120px;
    height: 95%;
    width: 42%;
    color: #848484;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform:translateY(-70px) ;
    >h4{
        font-size: 22px;
        font-weight: 400;
    }
    >h1{
        color: #fff;
        text-transform: uppercase;
        font-size: 60px;
    }
    >a{
        text-align: right;
        color: royalblue;
        text-decoration: none;
        margin-top: 50px;
        >i{
           font-size: 25px;
        }
    }
}
.lamps{
    width: 100%;
    height: 90vh;
}
#lamp{
    margin: 5% auto;
    width: 80%;
    height: 90%;
    display: flex;
    opacity: .8;
}
#right-lamp{
    width: 65%;
    height: 100%;
    margin-right: 3px;
}
#r1-lamp{
    width: 100%;
    height: 35%;
    border:1px solid #848484;
    background-image: url(https://www.skandium.com/cdn/shop/products/louis-poulsen-keglen-pendant-lamp-black-o-65-14335712985191_960x.jpg?v=1646913875);
    background-position: right;
    background-size: 270px;
    background-repeat: no-repeat;

}
#txt1{
    margin-left: 70px;
    width: 30%;
    height: 180px;
    >h1{
        padding-top: 50px;
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 600;
    }
    >a{
        margin-top: 100px;
        color: #2a2a2c;
        text-decoration: none;
        font-size: 18px;
    }
    
}
#r2main{
    padding:6px 0 0 0;
    width: 100%;
    height: 65%;
    display: flex;
}
#r2-lamp{
    width: 50%;
    height: 100%;
    border: 1px solid #848484;
    margin-right: 3px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8ohloqrrW6ZCphYeQrMcC6XIqGRRFbJX04rHxwvAXpbUmAfTbeW7fF6f6XEGnVqOztcE&usqp=CAU);
    background-repeat: no-repeat;
    background-position:160px 120px;
    background-size: 300px;
}
#txt2{
    margin-top: 250px;
    margin-left: 60px;
    width: 50%;
    height: 150px;
    >h1 {
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 600;
    }

    >a {
        margin-top: 100px;
        color: #2a2a2c;
        text-decoration: none;
        font-size: 18px;
    }
}
#r3-lamp{
    width: 50%;
    height: 100%;
    border: 1px solid #848484;
    margin-right: 3px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjYE7xfXSdC_T68X-u-ggGsppzeV10Wvpy8_WYaSNjTE7eNrFEkA8X9E0jOVZcvNG_Sis&usqp=CAU);
    background-repeat: no-repeat;
    background-position:160px 100px;
    background-size: 300px;
}
#left-lamp{
    margin-left: 3px;
    width: 35%;
    height: 100%;
    border: 1px solid #848484;
    margin-right: 3px;
    background-image: url(https://cdn.shopify.com/s/files/1/0236/1829/products/391841_1_800x.jpg?v=1652356245);
    background-repeat: no-repeat;
    background-position:0px 100px;
    background-size: 300px;
}
#txt3{
    margin-top: 480px;
    margin-left: 180px;
    width: 50%;
    height: 150px;
    >h1 {
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 600;
    }

    >a {
        margin-top: 100px;
        color: #2a2a2c;
        text-decoration: none;
        font-size: 18px;
    }
}
#lamp1 {
    margin: 5% auto;
    width: 80%;
    height: 90%;
}
.nav{
    width: 100%;
    margin:0 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#pl{
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 300;
}
#sm{
    width: 200px;
    display: flex;
    >p{
        font-size: 15px;
        >a{
            text-decoration: none;
            color: #000000;
        }
    }
    >h5{
        margin: 9px  0 0 4px;
        width: 30px;
        height: 0;
        border: 1px solid black;
        
    }
}
#main{
    width: 100%;
    height: 100%;

}
#img-box1{
    margin: 40px auto;
    width: 210px;
    height: 250px;
    /* background-color: chocolate; */
}
#img1{
    width: 100%;
    height: 60%;
    >img{
        width: 100%;
        height: 100%;
    }
}
#about{
    margin-top: 10px;
    >h1 {
            font-weight: 500;
            font-size: 25px;
        }
    >h6{
        font-size: 13px;
        font-weight: 500;
    }
    >a{
        font-size: 20px;
        text-decoration: none;
        color: royalblue;
    }
}
#line1{
    width: 100%;
    height: 50%;
    display: flex;
}
#jon{
    width: 100%;
    height: 25vh;
    background-color: rgba(168, 168, 171, 0.715);
    display: flex;
}
#left-jon{
    width: 50%;
    height: 100%;
    padding:50px 0 0 190px;
    >h1{
        text-transform: uppercase;
        font-size: 35px ;
        font-weight: 500;
    }
    >p{
        width: 75%;
    }
}
#right-jon{
    width: 50%;
    height: 100%;
    padding-top: 100px;
    >input{
        background-color: transparent;
        border: none;
        border-bottom:1px solid #212021;
        padding: 10px;
        width: 35%;
    }
    >button{
        padding: 10px 24px;
        background-color: black;
        border: none;
        color: white;
        font-family: cursive;
    }
}
footer{
    width: 100%;
    height: 25vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    padding: 50px 190px;
    color: #fff;
    
}
#f1{
    width: 15%;
    >h1{
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 500;
    }
    cursor: pointer;
}
#f2{
    width: 15%;
    margin-left: 25px;
    cursor: pointer;
    >h2{
        font-weight: 500;
        font-size: 20px;
    }
    >p{
        font-size: 12px;
        >a{
            text-decoration: none;
            color: #fff;
        }
    }
}
#f3{
    width: 18%;
    margin-left: 42px;
        cursor: pointer;
    
        >h3 {
            font-weight: 500;
            font-size: 20px;
        }
    
        >p {
            font-size: 12px;
    
            >a {
                text-decoration: none;
                color: #fff;
            }
        }
}